td {
    background: lightyellow;
    padding: 5px;
}

th {
    background: green;
    color: white;
    padding: 5px;
    border-block-style: 20px;
}
input {
    height: 50px;
    width: 400px;
}
button {
    height: 40px;
    width: 50px;
    background: rgb(0, 60, 255);
    color: white;
}
